@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  background: #03191E;
}
.load {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  bottom: 50%;
  justify-content: center;
  align-items: center;
}
.load img {
  width: 50%;
  height: auto;
  animation: load 2s linear infinite;
}
@keyframes load {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.load h3 {
  font-family: 'Montserrat';
  font-size: 10px;
  font-weight: 600;
  color: #CADBC0;
}